@model FWAweb.Controllers.UserController.UserAddressesModel //FWAcore.Model.UserView

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-4">
        <h1 class="display-4">User details</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control"/>
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for ="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Login" class="control-label"></label>
                <input asp-for="User.Login" class="form-control" />
                <span asp-validation-for="User.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password" class="control-label"></label>
                <input name="password" type="password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Address:</label>
                <select 
                    asp-for="User.AddressId"
                    asp-items="@(Model.Addresses.Select(a => new SelectListItem {
                        Value = a.AddressId.ToString(),
                        Text = $"{a.Street} {a.Number}, {a.ZipCode} {a.City}",
                        Selected = a.AddressId == Model.User.AddressId 
                    }))"
                >
                    @{
                        if (!Model.Addresses.Any(a => a.AddressId == Model.User.AddressId)) {
                            <option value="@Model.User.AddressId">@Model.User.AddressId</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}